@import "../../../../styles";

.container {
  text-align: center;
  margin: 30px auto;
}

.tab {
  margin: 0 5px;
  @include regularText();
  cursor: pointer;
  display: inline-block;
  text-transform: capitalize;
  padding: 0 5px;

  &.active {
    @include grooveBorder(4px);
  }
}
