@import "../../../styles";

.widget-container {
  padding: 5px 15px;
  font-size: 1.9rem;
  font-weight: 700;
  border: 2px solid $c-error;
  background-color: $c-red;
  padding: 12px 16px;
  border-radius: $border-radius;
  margin: 25px auto;

  p,
  h5 {
    color: $c-error;
    margin: 0;
    font-weight: 700;
  }

  p {
    font-size: 1.4rem;
  }

  h5 {
    margin-bottom: 3px;
    font-size: 1.9rem;
  }
}
