<div class="details-container">
  <app-spinner *ngIf="isLoading"></app-spinner>
  <ng-container *ngIf="!isLoading && isErrorOccured">
    <app-widget-error
      *ngIf="isErrorOccured"
      class="error"
      [error]="error"
    ></app-widget-error>
    <ng-container [ngTemplateOutlet]="backButton"></ng-container>
  </ng-container>
  <section *ngIf="!isLoading && !isErrorOccured">
    <app-title [category]="collectionName" [underlined]="title" [showFavourite]="isItemFavourite"></app-title>
    <div class="top-container">
      <div class="information">
        <p *ngFor="let item of itemKeys">
          <span class="information-key">{{ item.key }}: </span>
          <span class="information-value">{{ item.value }}</span>
        </p>
      </div>
      <div class="top-photo-container" *ngIf="imageSrc">
        <img [src]="imageSrc" [alt]="getTitle()" />
      </div>
    </div>
    <div class="bottom-container" *ngIf="additionalFields.length">
      <div class="additional-block information" *ngFor="let field of additionalFields">
        <h1 class="information-key">{{field.name}}</h1>
        <app-spinner *ngIf="isAdditionalInfoLoading"></app-spinner>
        <ul class="additional-block-list" *ngIf="!isAdditionalInfoLoading">
          <li class="information-value" *ngFor="let item of field.items"><span class="information-value list-content">{{item}}</span></li>
        </ul>
      </div>
    </div>
    <ng-container [ngTemplateOutlet]="backButton"></ng-container>
  </section>
</div>

<ng-template #backButton>
  <button (click)="goBack()" class="back-button">
    <i class="fa-solid fa-arrow-left back-button-icon"></i>
    Back
  </button>
</ng-template>
