<div class="details-container">
  <app-spinner *ngIf="isLoading"></app-spinner>
  <ng-container *ngIf="!isLoading && isErrorOccured">
    <app-widget-error
      *ngIf="isErrorOccured"
      class="error"
      [error]="error"
    ></app-widget-error>
    <ng-container [ngTemplateOutlet]="backButton"></ng-container>
  </ng-container>
  <ng-container *ngIf="!isLoading && !isErrorOccured">
    <app-title [category]="collectionName" [underlined]="title" [showFavourite]="isItemFavourite"></app-title>
    <div class="top-container">
      <section class="information">
        <p *ngFor="let item of itemKeys">
          <span class="information-key">{{ item.key }}: </span>
          <span class="information-value">{{ item.value }}</span>
        </p>
      </section>
      <div class="top-photo-container" *ngIf="imageSrc">
        <img [src]="imageSrc" [alt]="getTitle()" />
      </div>
    </div>
    <ng-container [ngTemplateOutlet]="backButton"></ng-container>
  </ng-container>
</div>

<ng-template #backButton>
  <button (click)="goBack()" class="back-button">
    <i class="fa-solid fa-arrow-left back-button-icon"></i>
    Back
  </button>
</ng-template>
