@import "../../../styles";

$w-information-block-lg: 360px;
$w-information-block-md: 240px;
$w-information-block-sm: 230px;

.details-container {
  max-width: 1140px;
  margin: auto;
  padding: 0 15px;
}

.details-section {
  padding: 0 25px;
  width: 100%;
  text-align: center;

  @include lg {
    padding: 0;
  }
}

.information {
  @include informationBlock;
  flex-direction: column;
  width: 100%;
  max-width: 100%;

  @include sm {
    width: $w-information-block-sm;
  }

  @include md {
    width: $w-information-block-md;
  }

  @include lg {
    width: $w-information-block-lg;
  }

  &.main-info {
    width: 100%;
  }

  &-key,
  &-value {
    margin-bottom: 1rem;
    font-size: 1.9rem;
  }

  &-key {
    font-weight: 700;
    color: $c-red;
    text-transform: capitalize;
  }

  &-value {
    color: $bg-yellow-2;
    font-weight: 500;
    margin-left: 1rem;
  }
}

.error {
  font-size: 18px;
  color: red;
}

.top-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 30px 0;
  text-align: left;

  @include md {
    flex-direction: row;
  }
}

.top-photo-container {
  width: auto;
  height: 100%;
  border: 2px solid $c-red;
  border-radius: $border-radius;
  box-shadow: 10px 10px 15px rgba(59, 38, 38, 0.25);
  background-color: $c-brown-light;

  @include sm {
    min-width: $w-information-block-sm;
  }

  @include md {
    min-width: $w-information-block-md;
  }

  @include lg {
    min-width: $w-information-block-lg;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.bottom-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  text-align: left;
}

.additional-block {
  width: 100%;

  @include sm {
    width: $w-information-block-sm;
  }

  @include md {
    width: $w-information-block-md;
  }

  @include lg {
    width: $w-information-block-lg;
  }
}

li.information-value {
  &.residents::marker {
    content: "\f50f";
  }

  &.films::marker {
    content: "\f008";
  }

  &.planets::marker {
    content: "\f0ac";
  }

  &.starships::marker {
    content: "\f197";
  }

  &.vehicles::marker {
    content: "\f50c";
  }

  &.species::marker {
    content: "\f42b";
  }

  &::marker {
    content: "\f753";
    font-family: "FontAwesome";
    font-style: normal;
    font-size: 1.6rem;
  }
}

.list-content.link {
  margin-left: 10px;
  cursor: pointer;
  color: $bg-yellow-2;
}
