<div class="details-container">
  <app-spinner *ngIf="isLoading"></app-spinner>
  <ng-container *ngIf="!isLoading && isErrorOccured">
    <app-widget-error
      *ngIf="isErrorOccured"
      class="error"
      [error]="error"
    ></app-widget-error>
    <ng-container [ngTemplateOutlet]="backButton"></ng-container>
  </ng-container>
  <section *ngIf="!isLoading && !isErrorOccured">
    <app-title
      [category]="collectionName"
      [underlined]="title"
      [showFavourite]="isItemFavourite"
    ></app-title>
    <ng-container [ngTemplateOutlet]="backButton"></ng-container>
    <div class="top-container">
      <div class="information">
        <p *ngFor="let item of itemKeys">
          <span class="information-key">{{ item.key }}: </span>
          <span class="information-value">{{ item.value }}</span>
        </p>
      </div>
      <div class="top-photo-container" *ngIf="imageSrc && showImage">
        <img [src]="imageSrc" [alt]="getTitle()" (error)="hideImage()" />
      </div>
    </div>
    <app-spinner *ngIf="isAdditionalInfoLoading"></app-spinner>
    <div
      class="bottom-container"
      *ngIf="additionalFields.length && !isAdditionalInfoLoading"
    >
      <div
        class="additional-block information"
        *ngFor="let field of additionalFields"
      >
        <h1 class="information-key">{{ field.name }}:</h1>
        <ul class="additional-block-list">
          <li
            class="information-value {{ field.name }}"
            *ngFor="let item of field.items"
          >
            <a [routerLink]="[item.localUrl]" *ngIf="item.localUrl">
              <span class="information-value list-content link">{{ item.name }}</span>
            </a>
            <span class="information-value list-content" *ngIf="!item.localUrl">{{ item.name }}</span>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>

<ng-template #backButton>
  <button (click)="goBack()" class="back-button">
    <i class="fa-solid fa-arrow-left back-button-icon"></i>
    Back
  </button>
</ng-template>
