@import "../../../styles";

.information {
  @include informationBlock;
  flex-direction: column;

  &-key,
  &-value {
    margin-bottom: 1rem;
    font-size: 1.9rem;
  }

  &-key {
    font-weight: 700;
    color: $c-red;
    text-transform: capitalize;
  }

  &-value {
    color: $bg-yellow-2;
    font-weight: 500;
    margin-left: 1rem;
  }
}

.error {
  font-size: 18px;
  color: red;
}

.top-container {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin: 30px 0;
}

.top-photo-container {
  min-width: 250px;
  width: auto;
  height: 100%;
  border: 2px solid $c-red;
  border-radius: $border-radius;
  box-shadow: 10px 10px 15px rgba(59, 38, 38, 0.25);
  background-color: $c-brown-light;

  img {
    width: 100%;
    height: auto;
  }
}

.bottom-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 15px;
}

.additional-block {
  margin-bottom: 15px;
}

li.information-value {
  &.residents::marker {
    content: "\f50f";
  }

  &.films::marker {
    content: "\f008";
  }

  &.planets::marker {
    content: "\f0ac";
  }

  &.starships::marker {
    content: "\f197";
  }

  &.vehicles::marker {
    content: "\f50c";
  }

  &.species::marker {
    content: "\f42b";
  }

  &::marker {
    content: "\f753";
    font-family: "FontAwesome";
    font-style: normal;
    font-size: 1.6rem;
  }
}

.list-content.link {
  margin-left: 10px;
  cursor: pointer;
  color: $bg-yellow-2;
}
