@import "../../../styles";

.details-container {
  // width: 50%;
  //max-width: 100%;
}

.information {
  @include informationBlock;
  flex-direction: column;

  &-key,
  &-value {
    margin-bottom: 1rem;
    font-size: 1.9rem;
  }

  &-key {
    font-weight: 700;
    color: $c-red;
    text-transform: capitalize;
  }

  &-value {
    color: $bg-yellow-2;
    font-weight: 500;
    margin-left: 1rem;
  }
}

.error {
  font-size: 18px;
  color: red;
}

.back-button {
  font-size: 1.9rem;
  font-weight: 700;
  color: $bg-yellow-2;
  border: 2px solid $c-brown-light;
  background-color: $c-red;
  padding: 12px 16px;
  border-radius: $border-radius;
  margin: 25px auto;
  cursor: pointer;
  outline: none;

  &-icon {
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 5px;
  }
}

.top-container {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin: 30px 0;
}

.top-photo-container {
  width: 250px;
  border: 2px solid $c-red;
  border-radius: $border-radius;
  box-shadow: 10px 10px 15px rgba(59, 38, 38, 0.25);
  background-color: $c-brown-light;

  img {
    width: 100%;
    height: auto;
  }
}

.bottom-container {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.additional-block {
  margin-bottom: 15px;
}

li.information-value::marker {
  font-family: "FontAwesome";
  content: "\f50c";
  font-style: normal;
  font-size: 1.6rem;
}

.list-content {
  margin-left: 10px;
}
