@import "../../../styles";

.footer {
  padding: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;

  p {
    color: $c-brown-light;
    font-size: inherit;
    font-weight: 500;
  }

  &-link {
    color: $c-red;
    font-weight: 700;
    font-size: inherit;
  }
}
