<header class="header">
  <a routerLink="/">
    <img
      src="assets/images/SWLogo.png"
      alt="star wars logo"
      class="header-logo"
    />
  </a>
  <div class="header-nav-container">
    <nav class="header-nav" [ngClass]="isExpanded ? 'expanded' : ''">
      <div
        class="header-nav-menu"
        [ngClass]="isToggleClose ? 'close' : ''"
        (click)="toggleMenu()"
      >
        <div
          class="header-nav-toggle"
          [ngClass]="isToggleClose ? 'close' : ''"
        ></div>
      </div>
      <div class="header-nav-item" [ngClass]="isLinkHidden ? 'hidden' : ''">
        <a
          routerLinkActive="active"
          [routerLink]="[navRoutes.CHARACTERS]"
          class="header-link"
        >
          <i class="fa-brands fa-mandalorian header-link-icon"></i>
          Characters
        </a>
      </div>
      <div class="header-nav-item" [ngClass]="isLinkHidden ? 'hidden' : ''">
        <a
          routerLinkActive="active"
          [routerLink]="[navRoutes.FILMS]"
          class="header-link"
        >
          <i class="fa-solid fa-film header-link-icon"></i>
          Films
        </a>
      </div>
      <div class="header-nav-item" [ngClass]="isLinkHidden ? 'hidden' : ''">
        <a
          routerLinkActive="active"
          [routerLink]="[navRoutes.PLANETS]"
          class="header-link"
        >
          <i class="fa-solid fa-globe header-link-icon"></i>
          Planets
        </a>
      </div>
      <div class="header-nav-item" [ngClass]="isLinkHidden ? 'hidden' : ''">
        <a
          routerLinkActive="active"
          [routerLink]="[navRoutes.VEHICLES]"
          class="header-link"
        >
          <i class="fa-brands fa-galactic-republic header-link-icon"></i>
          Vehicles
        </a>
      </div>
      <div class="header-nav-item" [ngClass]="isLinkHidden ? 'hidden' : ''">
        <a
          routerLinkActive="active"
          [routerLink]="[navRoutes.SPACESHIPS]"
          class="header-link"
        >
          <i class="fa-brands fa-galactic-senate header-link-icon"></i>
          Spaceships
        </a>
      </div>
    </nav>
  </div>
</header>
