@import "../../../styles";

$size: 32px;
$height: calc($size / 8);
$margin: calc($size / 3.2);
$toggle: calc(($size + $margin * 2) * 1.5);

.header {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $bg-yellow-2;
  position: relative;
  z-index: 1;
  margin-bottom: 15px;

  @include xl {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .logo-link {
    margin-right: 50px;
  }

  &-logo {
    width: 135px;
  }

  &-link {
    color: inherit;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    margin: 0 0.5rem;

    @include xl {
      font-size: 2rem;
      margin-right: 0.3rem;
      margin-left: 2rem;
    }

    &:hover,
    &.active {
      color: $c-red;
      transition: color 0.6s ease;
    }

    &-icon {
      font-size: 2rem;
      font-weight: 700;
      margin-right: 0.5rem;
    }
  }

  .header-nav-item {
    padding: calc($size/4);
    white-space: nowrap;
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
    transform: rotateY(0deg);

    &:nth-of-type(1) {
      transition-delay: 0.4s;

      .header-link {
        @include xl {
          margin-left: 0;
        }
      }
    }
    &:nth-of-type(2) {
      transition-delay: 0.5s;
    }
    &:nth-of-type(3) {
      transition-delay: 0.6s;
    }
    &:nth-of-type(4) {
      transition-delay: 0.7s;
    }
    &:nth-of-type(5) {
      transition-delay: 0.8s;
    }

    &.hidden {
      width: 0;
      visibility: hidden;
      opacity: 0;
      transform: rotateY(90deg);
      &:nth-of-type(1) {
        transition-delay: 0.4s;
      }
      &:nth-of-type(2) {
        transition-delay: 0.3s;
      }
      &:nth-of-type(3) {
        transition-delay: 0.2s;
      }
      &:nth-of-type(4) {
        transition-delay: 0.1s;
      }
      &:nth-of-type(5) {
        transition-delay: 0s;
      }
    }
  }

  &-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $c-brown-light;
    width: $toggle;
    padding: #{calc($size/2)};
    line-height: 0;
    border-radius: $border-radius;
    overflow: hidden;
    position: relative;
    @include box-shadow();
    @include transition(1.3s);

    @include md {
      height: $toggle;
      flex-direction: row;
      justify-content: flex-start;
    }

    @include xl {
      padding: $size;
    }

    &.expanded {
      width: 100%;
    }

    &-container {
      position: relative;
      display: flex;
      justify-content: flex-end;

      @include xl {
        width: calc(100% - $w-bg-container);
      }
    }

    &-menu {
      position: absolute;
      top: #{calc(($toggle - ($margin * 3 + $height * 2)) / 2)};
      right: calc(
        100% - #{calc(
            ($toggle - ($size + $margin * 2)) / 2 + ($size + $margin * 2)
          )}
      );
      height: calc($height * 2 + $margin * 3);
      width: calc($size + $margin * 2);
      transition: 1s;
      cursor: pointer;

      &.close {
        right: 1rem;
      }
    }
    &-toggle {
      display: none;
      position: relative;
      height: calc($margin * 3 + $height * 2);
      width: calc($margin * 2 + $size);

      &:after,
      &:before {
        content: "";
        background: $bg-yellow-2;
        width: $size;
        height: $height;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
      }

      &:before {
        top: -30%;
      }

      &:after {
        top: 30%;
      }

      &.close:before {
        transform: rotate(-225deg);
        top: 0;
      }

      &.close:after {
        transform: rotate(225deg);
        top: 0;
      }

      @include xl {
        display: block;
      }
    }
  }
}
