$bg-yellow-1: #fdd45e;
$bg-yellow-2: #ffd669;

$c-yellow: #f5d9a0;
$c-brown: #1b1a17;
$c-brown-light: #353430;
$c-orange: #f0a500;
$c-error: #670007;
$c-red: #e45826;
//#d66f2c

$c-light: #f5f5f5;
$c-light-hover: #b9b9b9;

$c-placeholder: #75798a;
