@mixin box-shadow {
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.15);
}

@mixin transition($time) {
  transition: all $time cubic-bezier(0.53, 0, 0.15, 1.3);
}

@mixin position-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin grooveBorder($width) {
  border-bottom: $width groove $c-red;
}


@mixin regularText() {
  font-size: 1.6rem;
  font-weight: 700;
  color: $c-brown-light;
}