$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1900px;

@mixin sm {
  @media screen and (min-width: $sm) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: $md) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: $lg) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: $xl) {
    @content;
  }
}

@mixin xxl {
  @media screen and (min-width: $xxl) {
    @content;
  }
}

@mixin box-shadow {
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.15);
}

@mixin transition($time) {
  transition: all $time cubic-bezier(0.53, 0, 0.15, 1.3);
}

@mixin position-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin grooveBorder($width) {
  border-bottom: $width groove $c-red;
}


@mixin regularText() {
  font-size: 1.6rem;
  font-weight: 700;
  color: $c-brown-light;
}

@mixin informationBlock {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  background-color: $c-brown-light;
  padding: 2rem 4rem;
  box-shadow: 10px 10px 15px rgba(59, 38, 38, 0.25);
  position: relative;
  display: flex;
  align-items: baseline;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 100%;
    background: $c-red;
    @include transition(1s);
    z-index: 0;
  }

}