@import "../../../../styles";

.toolbar {
  &-top,
  &-bottom {
    margin-bottom: 1.5rem;
  }

  &-bottom {
    min-width: 820px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
