@import "../../../../styles";

.toolbar {
  &-top,
  &-middle,
  &-bottom {
    margin-bottom: 1.5rem;
  }

  &-middle {
    min-width: 820px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include lg {
      flex-direction: row;
    }
  }

  &-bottom {
    text-align: center;
  }
}
