@import "../../../../styles";

.toolbar {
  &-top,
  &-middle,
  &-bottom {
    margin-bottom: 1.5rem;
  }

  &-middle {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include md {
      flex-direction: row;
      justify-content: space-between;
    }

    @include xl {
      min-width: 820px;
    }
  }

  &-bottom {
    text-align: center;
  }
}
