@import "../styles";

.sw {
  &-container {
    min-height: 100vh;
    background-image:
    // url("../assets/images/SW-main.jpg"),
      linear-gradient($bg-yellow-1, $bg-yellow-2);
    background-repeat: no-repeat;
    background-position: -4% bottom;
    background-blend-mode: luminosity;
    backdrop-filter: sepia(90%);
    background-size: contain;
  }

  &-main {
    display: flex;
    justify-content: center;
    align-items: center;

    @include xl {
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    &-img {
      position: relative;
      z-index: 0;
      margin-left: -5rem;
      margin-top: -4rem;
      width: 100%;
      height: auto;
      overflow: hidden;

      &-container {
        display:  none;

        @include xl {
          width: $w-bg-container;
        }
      }
    }

    &-list-container {
      max-height: 100%;
    }
  }
}
