@import "../../../../styles";

.title {
  text-align: center;
  position: relative;

  @include xl {
    text-align: left;
  }

  &,
  &-active {
    color: $c-brown-light;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
  }
  &-active {
    @include grooveBorder(6px);
  }

  .star-icon {
    position: absolute;
    right: -0.5rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    color: $c-brown-light;
  }
}
