@import "../../../../styles";

.title {
  text-align: center;

  @include xl {
    text-align: left;
  }

  &,
  &-active {
    color: $c-brown-light;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
  }
  &-active {
    @include grooveBorder(6px);
  }
}
