@import "../../../../styles";

$font-xs: 2rem;
$font-md: 3rem;

.title {
  text-align: center;

  @include xl {
    text-align: left;
  }

  &.center {
    @include xl {
      text-align: center;
    }
  }

  &,
  &-active {
    color: $c-brown-light;
    font-size: $font-xs;
    text-transform: uppercase;
    font-weight: 700;

    @include md {
      font-size: $font-md;
    }
  }
  &-active {
    @include grooveBorder(6px);
  }

  .star-icon {
    font-size: $font-xs;
    color: $c-brown-light;
    margin-left: 5px;

    @include md {
      font-size: $font-md;
    }
  }
}
