<app-toolbar [pagesAmount]="pagesAmount$" (activePage)="displayActivePageData($event)" (activeTab)="showFilteredByTabData($event)" (searchInputHandler)="getSearchValue($event)"></app-toolbar>
<app-spinner *ngIf="isLoading; else listItems"></app-spinner>
<ng-template #listItems>
  <h2 *ngIf="!collectionToRender?.length" class="empty-list-message">There is no items</h2>
  <ul class="list">
    <app-item
      *ngFor="
        let item of collectionToRender | search : searchQuery;
        let i = index;
        trackBy: itemTrackBy
      "
      [item]="item"
      [index]="i + 1"
      (onFavourite)="markFavouriteItem($event)"
    ></app-item>
  </ul>
</ng-template>
